body {
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    background-color: grey;
}

#name_login {
    display: none;
    position: absolute;
    top: 225px;
}

#pwd_login {
    display: none;
    position: absolute;
    top: 325px;
}

.group {
    left: 270px;
}
   
.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
}
   
.input:focus {
    outline: none;
}
   
label {
    color: #333;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #387155;
}
   
.bar {
    position: relative;
    display: block;
    width: 265px;
}
   
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #387155;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.bar:before {
    left: 50%;
}
   
.bar:after {
    right: 50%;
}
   
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}
   
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
   
.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}
   
@keyframes inputHighlighter {
    from {
        background: #387155;
    }
   
    to {
        width: 0;
        background: transparent;
    }
}